.scroll-color-transition {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    transition: background-color 0.10s ease;
  }
  
  .imgsize{
    height:70%;
    width:100%;
    
  }

  .colorr{
    color:white;
  }
  .curvep{
   
    background-color: rgb(46, 40, 40);
    padding:10px;
    border-radius: 30px;

  }
  .hh2{
    color:rgb(82, 71, 71);
  }

  .imgg1{
    height:200px;
    width:300px;
    margin: 10px;

  }
  .hh3{
    font-size: 70px;
  }
  .pp1{
    font-size: 30px;
  }

  .imgg2{
    height:150px;
    width:150px;
    margin: 10px;
  }
  #button1{
    background-color:blue;
    color: white;
    border-width: 2px;
    border-radius: 30px;
    padding: 10px;
    margin: 5px;
    border: 2px solid white;
  }
  #button2{
    background-color:pink;
    color: white;
    border-width: 2px;
    border-radius: 30px;
    padding: 10px;
    margin: 5px;
    border: 2px solid white;
  }
  #button3{
    background-color:rgb(16, 17, 17);
    color: white;
    border-width: 2px;
    border-radius: 30px;
    padding: 10px;
    margin: 5px;
    border: 2px solid white;
  }

  .container1{
    background-color: rgb(66, 61, 61);
    padding: 5%;
    margin: 2%;

  }
  #barr{
    color: white;
  }